<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">

<head>

</head>

<body>

	<div th:replace="/layout/herowrap.html"></div>
	<section class="ftco-section ftco-degree-bg">
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-8 entries">

						<article class="entry">

							<div class="entry-img">
								<img th:src="@{|/blog/${item.thumbnail}|}" height="100%" width="100%"
									style=" object-fit: contain;" alt="" class="img-fluid">
							</div>

							<h2 class="entry-title">
								<a href="blog-single.html">[[${item.title}]]</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
											href="#">[[${item.employee.fullname}]]</a></li>
									<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time
												datetime="2020-01-01">[[${item.date}]]</time></a></li>
									<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
											href="#">[[${item.views}]] views</a></li>
									<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12
											Comments</a></li>
								</ul>
							</div>

							<div class="entry-content">
								<p>
									[[${item.description}]]
								</p>
							</div>
							<br>
							<h3> Video</h3>

							<video controls style="width:100%; height:100%;" >
								<source th:src="@{|${item.video}|}">
							</video>
						</article><!-- End blog entry -->
						<h5>Feed Back</h5>
						<form id="contact_form" name="contact_form" method="post">
							<div class="row">
								<div class="col">
									<label>Your Name:</label>
									<input type="text" required maxlength="50" class="form-control" id="name"
										name="name">
								</div>
							</div>
							<div class="mb-5">
								<label for="message">Comment</label>
								<textarea class="form-control" id="message" name="message" rows="5"></textarea>
							</div>

							<div class="d-grid">
								<button type="submit" class="btn btn-success">Post</button>
							</div>
						</form>
					</div><!-- End blog entries list -->

					<div class="col-lg-4">

						<div class="sidebar">

							<h3 class="sidebar-title">Search</h3>
							<div class="sidebar-item search-form">
								<form action="">
									<input type="text">
									<button type="submit"><i class="bi bi-search"></i></button>
								</form>
							</div><!-- End sidebar search formn-->

							<h3 class="sidebar-title">Categories</h3>
							<div class="sidebar-item categories">
								<ul>
									<li><a href="#">General <span>(25)</span></a></li>
									<li><a href="#">Lifestyle <span>(12)</span></a></li>
									<li><a href="#">Travel <span>(5)</span></a></li>
									<li><a href="#">Design <span>(22)</span></a></li>
									<li><a href="#">Creative <span>(8)</span></a></li>
									<li><a href="#">Educaion <span>(14)</span></a></li>
								</ul>
							</div><!-- End sidebar categories-->

							<h3 class="sidebar-title">Recent Posts</h3>
							<div class="sidebar-item recent-posts" th:each="item : ${listTop3}">
								<div class="post-item clearfix">
									<img th:src="@{|/blog/${item.thumbnail}|}" alt="">
									<h4><a href="blog-single.html">[[${item.title}]]</a></h4>
									<time datetime="2020-01-01">[[${item.date}]]</time>
								</div>
							</div><!-- End sidebar recent posts-->

							<h3 class="sidebar-title">Tags</h3>
							<div class="sidebar-item tags">
								<ul>
									<li><a href="#">App</a></li>
									<li><a href="#">IT</a></li>
									<li><a href="#">Business</a></li>
									<li><a href="#">Mac</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Office</a></li>
									<li><a href="#">Creative</a></li>
									<li><a href="#">Studio</a></li>
									<li><a href="#">Smart</a></li>
									<li><a href="#">Tips</a></li>
									<li><a href="#">Marketing</a></li>
								</ul>
							</div><!-- End sidebar tags-->

						</div><!-- End sidebar -->

					</div><!-- End blog sidebar -->

				</div>
			</div>
		</section>
		<!-- END comment-list -->
		<!-- .col-md-8 -->

	</section> <!-- .section -->
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


</body>

</html>